MYSQL_HOST=localhost
MYSQL_DATABASE=kelompok2
ANALYTICS_DB_USER=analytics
ANALYTICS_DB_PASSWORD=changeme
RIVER_DB_USER=river
RIVER_DB_PASSWORD=changeme

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=changeme
RABBITMQ_VHOST=/

REDIS_HOST=localhost
REDIS_PORT=6379

MQTT_HOST=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC_PREFIX=kelompok2/sensors
