DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=kelompok2
DB_USERNAME=river
DB_PASSWORD=RiverSecret
APP_DEBUG=false
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=smartcity
RABBITMQ_PASS=RabbitSecret
